<div class="profile-card">
    <!--  -->
    <div class="avatar-name">
        <img src="/assets/imgs/ava1.jpg" alt="avatar" class="profile-card__avatar">

        <div class="profile-card__name">
            <strong class="h6">Anvar Baratov</strong>
            <span class="subtitle">anvarLandio</span>
        </div>
    </div>
    <!--  -->
    <div class="profile-card__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, est quaerat? Quia eligendi facere vero ea tempora quaerat? Error maiores asperiores ipsa doloremque tempore cum, dignissimos similique animi temporibus in.
    </div>
    <!--  -->
    <div class="profile-card__tags">
        <div class="skill-tag">Angular</div>
        <div class="skill-tag">HTML</div>
        <div class="skill-tag">CSS</div>
        <div class="skill-tag">REST</div>
    </div>
    <!--  -->
    <div class="profile-card__actions-btns">
        <button class="btn">Подписаться</button>
    </div>
</div>